spawn-at-startup "noctalia-shell"

layout {
    gaps 8
    border {
        width 1
        active-color "#89b4fa"
        inactive-color "#313244"
    }
    focus-ring {
        off
    }
}

window-rule {
  geometry-corner-radius 16
  clip-to-geometry true
}

layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

/* Apps: blur them all without xray for a better look */
window-rule {
  background-effect {
    blur true
    xray false
  }
}

/* Noctalia: blur everywhere without xray for a better look */
layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  background-effect {
    xray false
  }
}



binds {
    // System
    Mod+T { spawn "alacritty"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }
    Mod+F { fullscreen-window; }
    Mod+L { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+C { spawn "noctalia-shell" "ipc" "call" "calendar" "toggle"; }

    // Navigation
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-workspace-up; }
    Mod+Down { focus-workspace-down; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-workspace-up; }
    Mod+Shift+Down { move-workspace-down; }
    Mod+R { switch-preset-column-width; }
    Alt+Tab { toggle-overview; }

    // Noctalia
    Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+S { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+Comma { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86MonBrightnessUp { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
}
